@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #6f42c1;
  font-family: "Press Start 2P", sans-serif;
  overflow: hidden;
  margin: 0;
  text-align: center;
  color: white;
}

a {
  color: white;
}
h1 {
  line-height: 1.4;
}

.animals-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}


.popup-text.pop{
  transform: scale(1.1);
  transition: all 0.6s ease-in;
}


.soundtrack{
  display: none;
}
.animals-list li {
  margin: 10px;
}

.choose-animal-btn {
  color: white;
  background: transparent;
  font-family: inherit;
  border: 2px solid white;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.choose-animal-btn:hover {
  background-color: white;
  color: #6f42c1;
}

.choose-animal-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn {
  border: 0;
  background-color: #fff;
  color: #6f42c1;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.the-flow-zone {
  -webkit-text-stroke: 0.0001px white; /* Set the stroke width and color */
  transition: color 0.5s ease-in-out;
  font-size: larger;
  font-weight: bolder;
  padding-left: 50px;
  color: #fff;
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  transition: margin 0.5s ease-in-out;
  background-attachment: fixed;
  animation: moveGradient 50s ease-in-out infinite;
}

.screen.first {
  display: relative;
}

.screen.first .the-flow-zone-pos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0;
  top: 50px;
  width: 100vw;
}

.screen.first .the-flow-zone-pos.hide {
  display: none;
}

.screen.first .copy-right{
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 10px;
  bottom: 30px;
  width: 100vw;

}
 
.screen.first .copy-right.hide{
  display: none;


}


.screen.up {
  margin-top: -100vh;
}

/* secound screen  */

.hint {
  font-size: 10px;
}

.hint2 {
  color: darksalmon;
}

.hint2.pop {
font-size: 15px;  transition: all 0.4s ease-in;}
  
.choose-animal-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* final screen */
.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 20px;
}

.give-up {
  padding: 5px;
  font-size: 16px;
  color: darksalmon;
  z-index: 20;

  font-weight: bold;
  position: absolute;
  font-family: inherit;
  cursor: pointer;
}


.support-button.support-visable {
  display: block;
}

.support-button {
  transform: scale(0.45);
  display: none;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;

  text-align: center;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  left: 50%;
  line-height: 1.7;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in-out;
}

.over-message {
  transform: translate(-50%, 30vh);
  opacity: 1;
  z-index: 100;
}

.message .over-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.message .over-row .btn {
  margin: 0 20px;
  padding: 10px;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
  pointer-events: none;

  z-index: 10;
}

.animal {
  cursor: pointer;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: scale(1.7);
  transition: transform 0.3s ease-in-out;
}

.animal.caught {
  transform: scale(0);
  color: #f037a5;
}

.animal img {
  width: 100;
  height: 100px;
}
@media (max-width: 500px) {
  * {
    overflow: hidden;
  }
  .the-flow-zone-pos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .support-button {
    transform: scale(0.4);
    display: none;
  }

  .message {
    padding: 8px;

    font-size: 11px;
    line-height: 1.3;
  }

  .time,
  .score {
    position: absolute;
    top: 20px;
    font-size: 14px;
  }

  .animal img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .animal {
    object-fit: cover;
    transform: scale(1.2);
  }

  .give-up {
    padding: 10px;
    font-size: 11px;
  }

  
  .the-flow-zone {
    left: 40px;
    padding-left: 0;
  }
}

.the-flow-zone {
  animation: flowUpAndDown 3s ease-in-out infinite alternate,
    waveText 3s ease-in-out infinite;
}

@keyframes flowUpAndDown {
  0% {
    transform: translateY(-8px); /* Adjust the distance for desired movement */
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes waveText {
  0% {
    text-shadow: 0 0 0 #f037a5; /* Adjust color as needed */
  }
  50% {
    text-shadow: 10px 0 0 #f037a5, -5px 0 0 #f037a5; /* Adjust wave width */
  }
  100% {
    text-shadow: 0 0 0 #f037a5;
  }
}
